{% extends "main.html" %}

<!-- Content -->
{% block content %}
<style>
  .page-padding th {
    padding: 0 !important;
    /* Override global padding */
  }

  .table-wrapper {
    display: block;
    overflow-x: auto;
  }

  h4 {
    display: inline-block;
    background-color: #ffff54;
    padding: 1px 6px 1px 6px;
    border-radius: 3px;
    margin: 0;
  }

  /* Styles specific to this table */
  .custom-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .custom-table th,
  .custom-table td {
    border: 1px dotted #b3b3b3;
    word-wrap: break-word;
    white-space: normal;
    width: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 40px;
    vertical-align: top;
    margin: 0;
    text-align: left;
    font-size: 12px;
  }

  @media all and (max-width:900px){
    table,tr, td, tbody, td p table div, table table{
        width:100%!important;
        float:left;
        clear:both;
        display:block;
        text-align:center;
    }
    table img {
        max-width:100%;
        height:auto;
    }
}
</style>

<body class="page-padding">
  <h4>404 - NOT FOUND</h4>
  <h1>This is an unexplored route.</h1>
  <h3>Sorry, that page can't be found.</h3>
  <a href="/">Go to homepage ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about">Report this error ></a>

  </br>
  </br>

  <div class="table-wrapper">
    <table class="custom-table">
      <tr>
        <td>
          <h4>404 - NON TROUVÉ</h4>
          <h1>Il s'agit d'un itinéraire inexploré.</h1>
          <h3>Désolé, cette page est introuvable.</h3>
          <a href="/">Accéder à la page d'accueil ></a>
        </td>
        <td>
          <h4>404 - NO ENCONTRADO</h4>
          <h1>Esta es una ruta inexplorada.</h1>
          <h3>Lo sentimos, no se puede encontrar esa página.</h3>
          <a href="/">Ir a la página de inicio ></a>
        </td>
        <td>
          <h4>404 - NÃO ENCONTRADO</h4>
          <h1>Esta é uma rota inexplorada.</h1>
          <h3>Desculpe, esta página não foi encontrada.</h3>
          <a href="/">Ir para a página inicial </a>
        </td>
        <td>
          <h4>404 - NICHT GEFUNDEN</h4>
          <h1>Dies ist eine unerforschte Route.</h1>
          <h3>Leider kann diese Seite nicht gefunden werden.</h3>
          <a href="/">Zur Startseite gehen ></a>
        </td>
        <td>
          <h4>404 - TIDAK DITEMUKAN</h4>
          <h1>Ini adalah rute yang belum dijelajahi.</h1>
          <h3>Maaf, halaman tersebut tidak dapat ditemukan.</h3>
          <a href="/">Buka beranda ></a>
        </td>
      </tr>
      <tr>
        <td>
          <h4>404 - НЕ НАЙДЕНО</h4>
          <h1>Это неисследованный маршрут.</h1>
          <h3>Извините, эта страница не найдена.</h3>
          <a href="/">Перейти на домашнюю страницу ></a>
        </td>
        <td>
          <h4>404 - 見つかりません</h4>
          <h1>これは未踏のルートです。</h1>
          <h3>申し訳ありませんが、そのページは見つかりません。</h3>
          <a href="/">ホームページに移動 ></a>
        </td>
        <td>
          <h4>404 - 찾을 수 없음</h4>
          <h1>탐험되지 않은 경로입니다.</h1>
          <h3>죄송하지만 해당 페이지를 찾을 수 없습니다.</h3>
          <a href="/">홈페이지로 이동 ></a>
        </td>
        <td>
          <h4>404 - 未找到</h4>
          <h1>这是一条未探索的路线。</h1>
          <h3>抱歉，找不到该页面。</h3>
          <a href="/">转到主页 ></a>
        </td>
        <td>
          <h4>404 - 找不到</h4>
          <h1>這是一條未探索的路線。</h1>
          <h3>抱歉，找不到該頁面。</h3>
          <a href="/">轉到主頁 ></a>
        </td>
      </tr>
    </table>
  </div>
</body>
{% endblock %}