.DS_Store
node_modules
.cache/
/.cache
site/
generated/
venv/
overrides/fr/*
overrides/es/*
overrides/de/*
overrides/id/*
overrides/ja/*
overrides/ko/*
overrides/pt/*
overrides/ru/*
overrides/zh/*
overrides/zh-TW/*