.DS_Store
node_modules
.cache/
/.cache
site/
generated/
venv/
overrides/fr/*
overrides/es/*
overrides/de/*
overrides/id/*
overrides/ja/*
overrides/ko/*
overrides/pt/*
overrides/ru/*
overrides/zh/*
overrides/zh-TW/*
docs/fr/resources/*
docs/es/resources/*
docs/ja/resources/*
docs/fr/documentation/schedule/examples/fares/*
docs/es/documentation/schedule/examples/fares/*
docs/ja/documentation/schedule/examples/fares/*
docs/fr/community/governance/gtfs-schedule-governance/*
docs/es/community/governance/gtfs-schedule-governance/*
docs/ja/community/governance/gtfs-schedule-governance/*
