site_name: General Transit Feed Specification
site_url: https://gtfs.org
repo_url: https://github.com/google/transit

validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: warn
    absolute_links: ignore
    unrecognized_links: ignore

theme:
  logo_light_mode: assets/org-white.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: gtfs
      primary: custom
      accent: custom
  name: material
  favicon: assets/org-black.svg
  font:
    text: SF Pro
    code: SF Mono
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - content.tabs.link
    - search.suggest
  custom_dir: docs/theme_overrides/
  language: en
  locale: en
extra_css:
  - assets/stylesheets/extra.css
extra:
  analytics:
    provider: google
    property: G-DRBTC7SSDT
    feedback:
      # title: Was this page helpful?
      ratings:
        - icon: material/numeric-positive-1
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/numeric-negative-1
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by using our <a href="https://share.mobilitydata.org/gtfs-org-feedback-form?usp=pp_url&entry.942719219={url}" target=_blank>feedback form</a>.
  consent:
    title: Cookie Consent
    description: >-
      We use cookies to track visits, stored anonymously. With your consent, you're helping us to make our documentation better. See our <a href="https://mobilitydata.org/privacy-policy/">Privacy Policy</a>.
    actions:
        - accept
        - reject
        - manage
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MobilityData
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/mobilitydata
    - icon: fontawesome/brands/slack
      link: https://share.mobilitydata.org/slack
markdown_extensions:
  - attr_list
  - footnotes
  - md_in_html
  - admonition
  - meta
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true 
plugins:
  # - offline:
  #     enabled: !ENV [OFFLINE, true]
  - external-markdown
  - search:
      lang: en
  - redirects:
      redirect_maps:
        'gtfs-background.md': 'background.md'
        'reference/static.md': 'schedule/reference.md'
        'reference/realtime/v2.md': 'realtime/reference.md'
        'reference/realtime/v1.md': 'realtime/reference.md'
        'reference/realtime/index.md': 'realtime/reference.md'
        'getting-started.md': 'schedule/index.md'
        'examples.md': 'schedule/examples/index.md'
        'testing.md': 'resources/gtfs.md'
        'best-practices.md': 'schedule/best-practices.md'
        'data-examples.md': 'schedule/examples/index.md'
        'changes.md': 'extensions/index.md'
        'reference/realtime/changes.md': 'realtime/changes/index.md'
        'reference/static/changes.md': 'schedule/changes/index.md'
        'applications.md': 'resources/apps.md'
        'license.md': 'about.md'
        'realtime/service-alerts.md': 'realtime/feed-entities/service-alerts.md'
        'realtime/trip-updates.md': 'realtime/feed-entities/trip-updates.md'
        'realtime/vehicle-positions.md': 'realtime/feed-entities/vehicle-positions.md'
        'realtime/code-examples/index.md': 'realtime/language-bindings/index.md'
        'realtime/code-examples/dotnet.md': 'realtime/language-bindings/dotnet.md'
        'realtime/code-examples/java.md': 'realtime/language-bindings/java.md'
        'realtime/code-examples/nodejs.md': 'realtime/language-bindings/nodejs.md'
        'realtime/code-examples/python.md': 'realtime/language-bindings/python.md'
        'realtime/code-examples/golang.md': 'realtime/language-bindings/golang.md'
        'realtime/code-examples/ruby.md': 'realtime/language-bindings/ruby.md'
        'realtime/code-examples/php.md': 'realtime/language-bindings/php.md'
        'schedule/guiding-principles.md': 'schedule/process.md'
        'schedule/revision-history.md': 'schedule/process.md'
        'realtime/guiding-principles.md': 'realtime/process.md'
        'realtime/revision-history.md': 'realtime/process.md'
        'realtime/extensions.md': 'realtime/process.md'
nav:
  - Home: index.md
  - Getting started:
    - What is GTFS?: getting_started/what_is_GTFS.md
    - Why use GTFS?: getting_started/why_use_GTFS.md
    - How to produce GTFS?: 
      - Create: getting_started/create.md
      - Validate: getting_started/validate.md
      - Publish: getting_started/publish.md
    - What can GTFS do?:
      - Overview: getting_started/features/overview.md
      - Base: getting_started/features/base.md
      - Accessibility: getting_started/features/accessibility.md
      - Fares: getting_started/features/fares.md
      - Pathways: getting_started/features/pathways.md
      - Metadata: getting_started/features/metadata.md
      - Flexible services: getting_started/features/flexible_services.md
      - Shapes: getting_started/features/shapes.md
      - Transfers: getting_started/features/transfers.md
      - Frequency based services: getting_started/features/frequency_based_services.md
    - Example GTFS feed: getting_started/example_feed.md
  - Technical Documentation:
    - Overview: documentation/overview.md
    - Schedule:
      - Reference: documentation/schedule/reference.md
      - Best Practices: documentation/schedule/GTFS schedule best Practices.md
      - Data examples:
        - Attributions: documentation/schedule/examples/attributions.md
        - Continuous stops: documentation/schedule/examples/continuous-stops.md
        - Fares v1: documentation/schedule/examples/fares-v1.md
        - Fares v2: documentation/schedule/examples/fares-v2.md
        - Feed information: documentation/schedule/examples/feed-info.md
        - Flexible Services: documentation/schedule/examples/flex.md
        - Frequencies: documentation/schedule/examples/frequencies.md
        - Pathways: documentation/schedule/examples/pathways.md
        - Routes, Stops & Trips: documentation/schedule/examples/routes-stops-trips.md
        - Text-to-speech: documentation/schedule/examples/text-to-speech.md
        - Transfers: documentation/schedule/examples/transfers.md
        - Translations: documentation/schedule/examples/translations.md
      - Recent additions: documentation/schedule/recent additions.md
    - Realtime:
      - Reference: documentation/Realtime/reference.md
      - Best Practices: documentation/Realtime/best practices.md
      - Feed Entities: 
          - Overview: documentation/Realtime/feed_entities/overview.md
          - Trip Updates: documentation/Realtime/feed_entities/trip-updates.md
          - Service Alerts: documentation/Realtime/feed_entities/service-alerts.md
          - Vehicle Positions: documentation/Realtime/feed_entities/vehicle-positions.md
      - Protobuf: documentation/Realtime/proto.md
      - Language Bindings:
        - Overview: documentation/Realtime/language-bindings/overview.md
        - .NET: documentation/Realtime/language-bindings/dotnet.md
        - Java: documentation/Realtime/language-bindings/java.md
        - JavaScript/Node.js: documentation/Realtime/language-bindings/nodejs.md
        - Python: documentation/Realtime/language-bindings/python.md
        - Golang: documentation/Realtime/language-bindings/golang.md
        - Ruby: documentation/Realtime/language-bindings/ruby.md
        - PHP: documentation/Realtime/language-bindings/php.md
      - Data examples:
        - Service alerts: documentation/Realtime/examples/service-alerts.md
        - Trip updates: documentation/Realtime/examples/trip-updates.md
      - Recent Additions: documentation/Realtime/recent additions.md
  - Community:
    - Get involved: community/get_involved.md
    - Governance:
      - GTFS Schedule Amendment Process: community/spec_amendment_process/gtfs_schedule_amendment_process.md
      - GTFS Realtime Amendment Process: community/spec_amendment_process/gtfs_realtime_amendment_process.md
    - Extensions:
      - Overview: community/extensions/overview.md
      - Fares v2: community/extensions/fares-v2.md
      - Flex: community/extensions/flex.md
  - Resources:
    - Overview: resources/overview.md
    - Getting Started: resources/getting-started.md
    - Community: resources/community.md
    - Data: resources/data.md
    - Software for Creating APIs: resources/software-for-creating-apis.md
    - Agency Tools: resources/agency-tools.md
    - Hardware: resources/hardware.md
    - Apps: resources/apps.md
    - SDKs: resources/sdk.md
    - Visualizations: resources/visualizations.md
    - GTFS: resources/gtfs.md
    - GTFS Realtime: resources/gtfs-realtime.md
    - SIRI: resources/siri.md
    - Multimodal: resources/multimodal.md
    - Other: resources/other.md
  - About:
      - About/index.md