{% extends "base.html" %}

{% block extrahead %}
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ config.site_name }}'s RSS Feed" href="{{ config.site_url }}feed_rss_created.xml">
{% endblock %}

{% block announce %}
  <strong>Hi! &nbsp&nbsp&nbsp  Hai! &nbsp&nbsp&nbsp  Hallo! &nbsp&nbsp&nbsp  ¡Hola! &nbsp&nbsp&nbsp  Bonjour! &nbsp&nbsp&nbsp  Привет! &nbsp&nbsp&nbsp  你好! &nbsp&nbsp&nbsp  こんにちは! &nbsp&nbsp&nbsp  안녕! &nbsp&nbsp&nbsp </strong> 🌐<br>
  Consult the specification references and best practices in 10 languages using the language selector!
{% endblock %}