{% extends "base.html" %}

{% block extrahead %}
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ config.site_name }}'s RSS Feed" href="{{ config.site_url }}feed_rss_created.xml">
{% endblock %}

{% block announce %}
  <strong><a class="announce-link" href="https://gtfs.org/">Hi!</a> &nbsp&nbsp&nbsp  <a class="announce-link" href="https://gtfs.org/id">Hai!</a> &nbsp&nbsp&nbsp  <a class="announce-link" href="https://gtfs.org/de">Hallo!</a> &nbsp&nbsp&nbsp <a class="announce-link" href="https://gtfs.org/es">¡Hola!</a> &nbsp&nbsp&nbsp <a class="announce-link" href="https://gtfs.org/fr">Bonjour!</a> &nbsp&nbsp&nbsp <a class="announce-link" href="https://gtfs.org/pt_BR">Olá!</a>  &nbsp&nbsp&nbsp  <a class="announce-link" href="https://gtfs.org/ru">Привет!</a> &nbsp&nbsp&nbsp  <a class="announce-link" href="https://gtfs.org/zh">你好!</a> &nbsp&nbsp&nbsp <a class="announce-link" href="https://gtfs.org/ja">こんにちは!</a> &nbsp&nbsp&nbsp  <a class="announce-link" href="https://gtfs.org/ko">안녕!</a> &nbsp&nbsp&nbsp </strong> 🌐<br>
  Consult the specification references and best practices in <strong>10 languages</strong> using the language selector, located next to the search bar!
{% endblock %}