{% extends "base.html" %}

{% block extrahead %}
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ config.site_name }}'s RSS Feed" href="{{ config.site_url }}feed_rss_created.xml">
{% endblock %}

{% block announce %}
  <strong>NEW </strong>✨<br>
  Participate in active proposals and consult recent changes to the specification for <a href="https://gtfs.org/schedule/changes/">GTFS Schedule</a> and <a href="https://gtfs.org/realtime/changes/">GTFS Realtime</a>. ⚙️
  <br>
  Leverage a list of <a href="https://gtfs.org/extensions/">extensions</a> to add features that are not yet official in the specification, and drive adoption. 🚀
{% endblock %}