:root {
    /* GTFS brand colors */
    --primary-color-one: #ffff00;
    --primary-color-two: #080808;
    --accent-color-one: #1d64f2;
    --accent-color-two: #ff4822;
    --black-zero-percent: #ffffff;
    --black-twenty-percent: #CCCCCC;
    --black-forty-percent: #999999;
    --black-sixty-percent: #666666;
    --black-seventy-percent: #4D4D4D;
    --background-color: #ffffff;
}
html, body { margin: 0; padding: 0; overflow-x: hidden; }
.body-style { color: var(--black-seventy-percent); margin: 0; font: normal 14px/20px 'Mulish', Arial, Helvetica, sans-serif; height: 100%; background-color: var(--background-color); }
h1 { margin: 0; font-size: 150px; line-height: 150px; font-weight: bold; }
h2 { margin-top: 20px; font-size: 30px; }
h3 {  margin-top: 20px; font-size: 20px; }
.main-center-vert {  display: flex; justify-content: center; align-items: center; min-height: 100vh; box-sizing: border-box; }
.main-centered-block { text-align: center; margin: 100px 35px; }
.logo-container { text-align: center; margin-top: 0px; margin-bottom: 50px; }
.logo-container svg { width: 125px;  height: auto; }
.info-horiz-background { position: relative; left: 0%; right: 0%; margin-left: -100%; margin-right: -100%; background-color: var(--primary-color-one); padding-bottom: 0%; }
.info-section-wrapper { position: relative;  z-index: 0; }
.info-content { text-wrap: balance; padding: 20px; max-width: 800px; margin-left: 35%; margin-right: 35%; position: relative; z-index: 1; }