.md-main {
    display: none;
}

/** TODO: url is temp **/
.tx-container {
    padding-top: .0rem;
    background-image: url('https://s3-alpha-sig.figma.com/img/7d76/2bb4/612569ac72985a5348b79e1e1d298a8f?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LKfiXXaQoi43MhSm~0ZPZIj4cZRzR7RhWgX9kHJl0htY~RW0qHQyAsred3U5EUf~9IyKQYEDqxPmE~oXV5CoGHbPw3zzAVLPeIQZAI7Kzh0ACeMBCisi1SiDE9UN-Bti~t6KNnKNZBrd2Ux~MwEjXAQ2IyVYsFSntCsA-f0rdWtxXSvxImyRHCXLZOUIc-h8I84g3KwdeBC1e4TVqx-Er~m2SJEf8D9nf-78zOx9-aM7mPBJdyYRO6nP-03IiwimRZkqejT3~DmM5AZTyhlqMPsPv-q5pgEtc7xCaKztixp6v~ChZfKB7Dj7E~4kv9Zt~w7I2q0RvGNhkWIs8YJWIA__');
    margin-top: -96px;
    height: calc(100vh);
    background-size: cover;
    position: relative;
}

.hero-dark-gradient {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.hero-content {
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.4rem;
}

.tx-hero {
    color: var(--md-default-bg-color);
    justify-content: center;
    width: 61rem;
    margin: auto;
    padding-left: .6rem;
    padding-bottom: 156px;
}

.tx-hero h1 {
    margin-bottom: 1rem;
    color: currentColor;
    font-weight: 700; 
    background-color: var(--md-primary-fg-color);
}

.tx-hero__content {
    padding-bottom: 1rem;
    margin: 0 auto;
}

.tx-hero__image {
    width: 24rem;
    height: 24rem;
    order: 1;
}

.tx-hero .hero-text {
    color: var(--md-light-text);
    font-size: 48px;
    line-height: 60px;
    max-width: 735px;
    font-weight: 700;
    text-shadow: 0 4px 4px var(--md-accent-bg-color--dark-opacity);

}

.feature-item h2 svg {
    height: 30px;
    float: center;
    margin-right: 10px;
    transform: translateY(10%);
}

.content-container {
    padding: 5.2rem 1rem;
}

.content-container header h1 {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    line-height: 47px;
    margin-bottom: 60px;
}

.content-container.dark {
    color: white;
    background: linear-gradient(180deg, var(--md-primary-bg-color) 0%, #2A2A2A 100%);
}

.content-container.dark header h1 {
    color: var(--md-primary-fg-color);
}

.content-container.custom-background {
    color: white;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/022/517/247/large/joshua-ader-scene-anime-train-station-5-comp-ver1-1.jpg?1575714636');
    background-size: cover;
    background-position: center;
}

.content-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 61rem;
}

/** why choose gtfs section start **/
.mdx-list {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    padding: 0;
}

.mdx-list-item {
    display: flex;
    flex: 1 0 48%;
    flex-wrap: nowrap;
}
/****/
.mdx-list-item .icon-holder {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 30px;
}

.mdx-list-item .text-content {
    width: calc(100% - 84px - 30px);
}

/** TODO: make this into a generic h3 style **/
.mdx-list-item .text-content h3 {
    margin: 0;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
    font-size: 26px;
    color: #333333; /** TODO: change into var **/
}

/** TODO: make this into a generic p style **/
.mdx-list-item .content {
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
}
/**/

.mdx-list-item .icon-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.mdx-list-item .icon-header h2 {
    margin: 0;
    margin-left: 0.6rem;
}

.mdx-list-item .icon-header .icon-holder {
    width: 2.2rem;
    height: 2.2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdx-list-item .icon-header svg {
    fill: yellow;
}

.learn-more-button-container {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

/** why choose gtfs section end **/


.top-hr {
    margin-top: 42px;
    align-items: center;
}

.feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    /* top | right | bottom | left */
    padding: 3px 20px 7px 20px;
    word-break: break-word
}

.feature-item h2 {
    color: #333;
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    margin: 0 0 10px;
    display: block;
}

@media screen and (max-width:30em) {
    .tx-hero h1 {
        font-size: 1.4rem
    }
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }

    

    .tx-hero__content {
        max-width: 22rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        margin-left: 1.0rem;
        margin-right: 4.0rem;
        align-items: center;
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }

    .top-hr {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }

    .bottom-hr {
        margin-top: 10px;
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }

    .feature-item {
        flex: 1;
        min-width: 0;
    }

    .feature-item:hover {
        background-color: var(--md-highlight-color);
        border-radius: 3px;
    }
}
