.mdx-spotlight__feature {
    display: flex;
    gap: 3.2rem;
    padding: 0;
    margin: 0 0 3.2rem;
}

.mdx-spotlight__feature.reverse {
    flex-direction: row-reverse;
}

.mdx-spotlight__feature>a {
    display: block;
    flex-shrink: 0;
    transition: transform .5s cubic-bezier(.075,.85,.175,1);
}

.mdx-spotlight__feature a>img {
    transition: transform .75s cubic-bezier(.075,.85,.175,1) 125ms, opacity .75s 125ms;
    border-radius: .2rem;
    box-shadow: var(--md-shadow-z2);
    display: block;
    height: auto;
    max-width: 100%;
    width: 25rem;
}

.mdx-spotlight__feature>a:hover{
    transform: scale(1.03)
}

@media screen and (max-width:76.25em) {
    .mdx-spotlight__feature {
        flex-wrap: wrap;
        justify-content: center;
    }
}