.mdx-users {
    display: flex;
    gap: 3.2rem;
    margin: 2.4rem 0;
}

.mdx-users__testimonial {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0;
    text-align: center;
}

.mdx-users__testimonial img {
    border-radius: 5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.mdx-users__testimonial cite {
    display: block;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.md-typeset h3 {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.5;
    margin: 1.6em 0 .8em;
}

@media screen and (max-width:76.25em) {
    .mdx-users  {
        flex-direction: column;
    }
}