/* logo placement */
#logo_light_mode {
    display: var(--md-footer-logo-light-mode);
  }
#logo_dark_mode {
    display: var(--md-footer-logo-dark-mode);
  }

/* default theme overrides */
[data-md-color-scheme="default"] {
    --md-footer-logo-dark-mode: none;
    --md-footer-logo-light-mode: block;
    --md-default-bg-color: #fff;
    --md-primary-fg-color: #172f50;
    --md-footer-bg-color--dark: #343a3f;
    --md-footer-fg-color: var(--md-default-bg-color);
    --md-footer-fg-color--light: var(--md-primary-bg-color--light);
    --md-typeset-color: #212121;
    --md-typeset-a-color: var(--md-accent-fg-color);
}

[data-md-color-scheme="default"] tr:hover {
    background-color: #f5f5f5 !important;
}

[data-md-color-scheme="default"] .only-dark {
    display: none;
}

.md-top:hover {
    background-color: var(--md-primary-fg-color);
}

/* h1 style */
.md-typeset h1 {
    font-size: 180%;
    color: var(--md-typeset-color);
}
  
/* header font styles */
h1, h2, h3 {
    font-weight: 500 !important;
}
  
/* title font weight */
.md-ellipsis {
    font-weight: normal;
}
  
/* text style */
.md-typeset , .md-typeset td {
    line-height: 1.5;
}

/* inline code style */
code:not(.highlight code) {
    color: #212121;
    /* background-color: rgba(255, 255, 255, 0); */
    /* font-weight: 500 !important; */
    /* color: var(--md-typesetcolor); */
    background-color: #EEF1F2;
    border-radius: 5px;
}

a > code {
    color: #4386FF !important;
}

.md-content a {
    color: #4386FF;
}
  
/* hover highlight */
div.md-content a:hover {
    text-decoration: underline;
}
  
/* table styles */
table, th, td {
    border-left: none !important;
    border-right: none !important;
    font-size: 120%;
}
td, th {
    padding: 0.75em !important;
}
td code {
    white-space: nowrap;
}
  
/* table field name wrapping */
td:nth-child(1) {
    white-space: nowrap;
}
  
/* nested tables style */
table.example {
    font-size: 0.61rem;
}
  
/* hide default edit content button */
.md-content__button {
    display: none;
}
/* custom edit content button */
.pencil {
    height: 1.5em !important;
    fill: #ADADAD;
    transition: 100ms ease-in-out;
    position: relative;
    float: right;
}
.pencil:hover {
    fill: #4386FF;
}
  
/* side nav style */
.md-nav__list {
    font-size: 100%;
}
  
/* footer styles */
footer {
    background-color: #4B555C !important;
}

a.footer-link:not(:hover) {
    opacity: 56%;
    transition: 0.15s;
}
a.footer-link:hover {
    transition: 0.15s;
}
div.md-footer-copyright {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    font-size: 80%;
}

/* footer text */
c {
    opacity: 56%; 
}

/* list style */
.md-content li, .md-content ul > li, .md-content li > ul {
    margin: 2px auto 2px 16px !important;
  }

/* buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff !important;
    font-weight: bold;
    background-color: #172f50;
    border-radius: 6px;
    outline: none;
    margin: 0 1em 1em 1em;
    min-width: 12em;
  }

a:first-child  {
    margin-left: 0;
}

.usage-buttons > .button {
    background-color: #172f50 !important;
}

/* space between feedback widget icons */
.md-feedback__inner > * {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
  
/* details {
    width: 25%;
} */
  
/* .language-menu {
    color: var(--md-typeset-color) !important;
} */

.md-nav__link--active {
    color: #4386FF !important;
}

/* external link icon */
.md-content a[href^="https://"]:not(.img, .pencil-link, .no-icon, .usage-buttons > .button) {
    background: url(../external.svg) center right no-repeat;
    padding-right: 13px;
    background-size: 0.65em;
}

@media only screen and (max-width: 550px) {
    .md-tabs {
        display: inline-flex;
    }
}

@media only screen and (min-width: 550px) and (max-width: 1219px) {
    .md-tabs {
        display: unset;
    }
}

@media only screen and (max-width: 1219px) {
    .md-main__inner.md-grid {
        margin: 0px auto 0px auto;
    }
}

@media only screen and (min-width: 1220px) {

    body {
        display: flex;
        min-height: 100vh;
        min-width: 100vw;
        flex-direction: column;
      }

    .md-main, .md-main__inner {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        min-width: 100vw;
    }
    .md-tabs {
        z-index: 3;
    }
    .md-header {
        box-shadow: none !important;
        z-index: 4;
    }
    .md-content {
        margin: 0px 15px 0px 15px;
    }

    /* neutral nav header */
    .md-nav__item > .md-nav__link.md-nav__container { 
        background-color: unset !important;
        box-shadow: 0px 0px 2px 2px #efefef !important;
        position: relative !important;
    }

    .md-sidebar__inner > .md-nav.md-nav--primary.md-nav--lifted.md-nav--integrated > .md-nav__list > .md-nav__item.md-nav__item--active > .md-nav__link.md-nav__link--active{ 
        background-color: unset !important;
        box-shadow: 0px 0px 2px 2px #efefef !important;
    }

    /* bold nav heading */
    .md-sidebar__inner > .md-nav.md-nav--primary.md-nav--lifted.md-nav--integrated > .md-nav__list > .md-nav__item > .md-nav__link.md-nav__container > a > span {
        font-weight: bold !important;
    }

    .md-sidebar__scrollwrap > .md-sidebar__inner > .md-nav.md-nav--primary.md-nav--lifted.md-nav--integrated > .md-nav__list > .md-nav__item > .md-nav__link > span {
        font-weight: bold !important;
    }

    .md-sidebar.md-sidebar--primary {
        width: 200px;
    }

    .md-sidebar--primary .md-sidebar__scrollwrap {
        background-color: #efefef;
        flex: 0 0 12em;
        order: -1;
        width: 200px;
        z-index: -1;
        margin: -80px 0 -25px 0;
        padding: 102px 20px 140px 20px;
        box-shadow: -1px 0 10px -7px #888 inset;
    }
    .md-footer {
        z-index: 1;
    }

    .usage-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .usage {
        display: flex;
    }

    .usage-list {
        flex: 1;
        margin-right: 20px;
    }

    .usage-video { 
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .landing-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .button {
        display: inline-flex;
        justify-content: center;
        padding: 10px 20px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: #ffffff !important;
        font-weight: bold;
        background-color: #172f50;
        border-radius: 6px;
        outline: none;
        margin: 0.5em 1em;
        min-width: 90vw;
      }
  }

@media only screen and (max-width: 704px) {
    .code-example-landing {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    .code-example-landing > .button {
            display: inline-flex;
            justify-content: center;
            padding: 10px 20px;
            text-align: center;
            align-items: center;
            text-decoration: none;
            color: #ffffff !important;
            font-weight: bold;
            background-color: #172f50;
            border-radius: 6px;
            outline: none;
            margin: 0.5em 1em;
            min-width: 90vw;
          }

}


/* Proposals on "Changes" pages */
.title {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 110% !important;
}
.title a {
    font-weight: bold;
    color: var(--md-typeset-color) !important;
}

.maintainer {
    margin: 0;
    padding-top: 0.75em;
    font-size: 0.75em;
    color: #717171;
}
.maintainer a {
    color: #717171 !important;
}
.featurelist {
    font-size: 0.9em;
    text-overflow: clip;
}
.row {
    border-top: 1.5px solid #EDEDED;
    padding: 15px 0 15px 0;
}
.featurelist ul {
    margin-bottom: 0;
}
.no-active-container h3 {
    font-weight: bold !important;
}
.no-active-container {
    text-align: center;
}
.row.no-active {
    display: flex;
    justify-content: center;
}

.tabbed-block > p:empty {
    margin: 0 !important;
}

/* Proposals on "Changes" pages, responsive */
@media only screen and (min-width: 760px) {
    .active-container {
        padding: 0 4em 0 0 !important;
        margin: 0 !important; 
    }
    .row {
        display: flex;
        align-items:flex-start;
    }
    
    .leftcontainer {
        min-width: 400px;
        margin: 0 !important;
    }
    
    .featurelist {
        float: right;
        flex: 1;
        padding-left: 4em;
    }
    
    .featurelist ul {
        margin: 0 !important;
    }
    
    .featurelist ul li {
        margin: 0.3em 0 !important;
    }
}

.md-banner {
    background: linear-gradient(0deg, #172F50 10%,#08111d 100%) !important;
}
.md-banner > * > a {
    color: #4385FF;
}

.md-banner__inner.md-grid.md-typeset {
    line-height: 200%;
}

.admonition.warning {
    margin-right: 55px;
}

.announce-link {
    color: white !important;
}
.announce-link:hover {
    text-decoration: underline !important;
}

.icon {
    position: relative;
    top: 0.15em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#gtfs-schedule-validator {
    margin-bottom: 0;
}

.usage-list > ol > li:not(:last-child) {
        margin-bottom: 0.7em !important;
}