.md-footer-meta {
    background-color: var(--md-primary-bg-color);
    height: 131px;
}

.md-footer-meta__inner {
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 0 125px;
    max-width: none;
}

.md-footer-copyright {
    display: flex;
    align-items: center;
}

.md-footer-copyright c {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.md-footer-copyright svg {
    height: 55px;
    width: 100%;
    margin-left: 5px;
}

.md-social {
    gap: 30px;
}

.md-social__link svg {
    max-height: none;
}